<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="adminstyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
</head>
<body>
    
    <div class="d-flex" id="wrapper" >
          <!-- side bar start -->
           <div class="bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading text-center py-4 primary-text fw-bold text-uppercase border-bottom">
                <i class="fas fa-user-secret me-2"></i>codersbite
                </div>
                <div class="list-group group-flush my-3">
                     <a href="#" class="list-group-item  list-group-item-action  bg-transparent  second-text  fw-bold"> 
                        <i class="fas fa-tachometer-alt me-2"></i>Dashboard
                    </a> 
                    <a href="#" class="list-group-item  list-group-item-action  bg-transparent  second-text fw-bold">
                        <i class="fas fa-project-diagram  me-2"></i>projects
                    </a>
                </div>
           </div>
          <!-- side bar end -->

          <div id="page-content-wrapper">
               <nav class="navbar navbar-expand-lg  navbar-light bg-transparent py-4 px-4">
                    <div class="d-flex align-items-center">
                         <i class="fas fa-align-left primary-text  fs-4  me-3 " id="menu-toggle"></i>
                         <h2 class="fs-2 m-0">Dashboard</h2>

                    </div>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle second-text fw-bold" href="#" id="navbarDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-gear"></i> Settings
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                
                                <li><a class="dropdown-item" href="/logoutAd">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                    </div>
                </nav>
                <div class="container-fluid px-4">
                <div class="row my-5">

                         <!---search form -->
                            <form action="/admin" method="get">
                                <input type="text" name="search" placeholder="Search users by name" />
                                <button type="submit"  >Search</button>
                            </form>
                            
                            <!--  search results -->
                            <% if (searchQuery) { %>
                                <!--  search results -->
                                <h2>Search Results</h2>
                                <ul>
                                    <% for (const user of users) { %>
                                    <li><%= user.name %></li>
                                    <% } %>
                                </ul>
                                <% } %>
                                
  
                    <h2>User Details</h2>
                            <table  class="table bg-white rounded shadow-sm  table-hover">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Update</th>
                                    <th>Delete</th>
                                    <!-- Add other columns if needed -->
                                </tr>
                                </thead>
                                <tbody>
                                <% for (const user of users) { %>
                                    <tr>
                                    <td><%= user.name %></td>
                                    <td><%= user.email %></td>
                                 
                                    <td>
                                        <a href="/updateUserData/<%= user._id %>"><i class="fa-solid fa-pen-to-square"></i></a>
                                      </td>
                                      
                                    <td>
                                        <a href="/deleteUserData/<%= user._id %>"><i class="fa-solid fa-trash"></i></a>
                                    </td>
                                    <!-- Add other columns if needed -->
                                    </tr>
                                <% } %>
                                </tbody>
                            </table>     
                            <h2>
                                Create user <a href="/admin/create"><i class="fa-solid fa-plus"></i></a>
                            </h2>           
               

          </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
        var el = document.getElementById("wrapper");
        var toggleButton = document.getElementById("menu-toggle");

        toggleButton.onclick = function () {
            el.classList.toggle("toggled");
        };
    </script>
</body>
</html>